.tintuc--container {
  width: 100%;
  height: 4000px;
  /* border: 1px solid rgb(17, 17, 131); */
  /* background-color: antiquewhite; */
}

.tintuc--intro {
  margin-top: 40px;
  background-color: aqua;
  width: 100%;
  height: 300px;
}

.tintuc__main--content {
  /* border: 1px solid red; */
  max-width: 2000px;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  margin: 10px auto;

}

.content__left {
  grid-area: left;
  /* border: 2px solid rgb(34, 134, 149); */
  height: 100%;
}

.content__right {
  grid-area: right;
  /* border: 2px solid blue; */
  height: 100%;
}

.tintuc--content {
  border: 2px solid #ddd;
  display: grid;
  min-height: 300px;
  grid-template-areas:
    "img title"
    "img re";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 150px auto;
  gap: 20px;
  padding: 20px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.tintuc--content:hover {
  background-color: blanchedalmond;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.04);
}

.content__right {
  height: 100%;
  /* background-color: aquamarine; */
  border: 2px solid #ddd;
  border-radius: 50px;
}

.content--img {
  grid-area: img;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  object-fit: cover;
  padding: 10px;
  margin-top: 30px;
}

.content--title,
.content--re {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  color: black;
}

.content--title {
  margin-top: 40px;
  grid-area: title;
  /* border: 2px solid red; */
  text-align: start;
}

.content--re {
  /* border: 2px solid rgb(48, 15, 138); */
  margin-bottom: 80px;
  grid-area: re;
  margin-left: 5px;
}


.right--content {
  list-style: none;
}

.video,
.img--right {
  margin-left: 20px;
}

.img--right {

  width: 300px;
  height: 250px;
  border-radius: 50px;
  object-fit: cover;
  margin-top: 10px;

}

.img--right:hover {
  transform: scale(1.06);
}



.img--right1,
.img--right2,
.img--right3 {
  margin-left: 30px;
}

.items:hover {
  background-color: antiquewhite;
  border-radius: 20px;
}

.right--title {
  text-align: center;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .hidden {
    display: none;
  }

  .content--title {
    font-size: 20px;
  }

}

@media only screen and (max-width: 900px) {
  .tintuc--intro {
    /* background-color: rED; */
    width: 100%;

  }

  .tintuc__main--content {
    display: block;
  }

  .tintuc--container {

    height: 3200px;

  }

  .tintuc--intro {
    margin-top: 40px;

    width: 100%;
    height: 200x;
  }

  .hinhanh,
  .video {
    display: none;
  }

  .content--img {
    grid-area: img;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    object-fit: cover;
    padding: 10px;
    margin-top: 30px;
  }
}